body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}


ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    flex: 1;
    max-width: 50%;
    justify-content: space-evenly;
}

/* @media (min-width: 600px) and (max-width: 800px){
    h1 {
        color: purple;
    }
} */

    h1 {
        color: red;
    }


@media (min-width: 500px){
    h1 {
        color: orange;
    }
}

@media (min-width: 1000px){
    h1 {
        color: yellow;
    }
}

@media (min-width: 1500px){
    h1 {
        color: green;
    }
}

/* @media (orientation: landscape) {
    body {
        background-color: black;
    }
} */

@media (max-width: 768px){
    h1 {
        font-size:4em;
    }
    nav, nav ul{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px){
    h1 {
        font-size:2.5em;
    }
}